.header-logo {
	display: inline-flex;
	align-items: center;
	font-size: 0;
	user-select: none;
	outline: none;
	transition: all .18s;
	vertical-align: top;
	&:hover {
		text-decoration: none;
		opacity: .6;
	}
	&__icon {
		width: 40px;
		margin-right: 10px;
		flex-shrink: 0;
		@media (max-width: 660px) {
			width: auto;
			height: 34px;
			margin-right: 0;
		}
	}
	&__title {
		max-width: calc(100% - 50px);
		margin-top: -3px;
		@media (max-width: 660px) {
			display: none;
		}
	}
}

.header-info {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	@media (max-width: 1199px) {
		display: none;
	}
	&__col {
		padding: 2px 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-right: 1px solid #F6F6F6;
	}
	&__line {
		margin: 2px 0;
	}
}

.header-nav {
	&__list {
		height: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		list-style-type: none;
		z-index: 2;
		@media (max-width: 979px) {
			background: #fff;
			width: 100%;
			padding: 25px 0;
			align-items: flex-start;
			flex-wrap: wrap;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			transition: all .18s;
			transition-property: opacity, visibility, transform;
			overflow-x: hidden;
			overflow-y: auto;
			&:not(.is-show) {
				transform: translateY(-100%);
				pointer-events: none;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	&__close {
		@media (min-width: 980px) {
			display: none;
		}
		@media (max-width: 979px) {
			background: $gray--100;
			width: 100%;
			height: auto;
			margin: -25px 0 25px;
			padding: 20px 30px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: static;
			z-index: 1;
		}
	}
	&__item {
		height: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		@media (max-width: 979px) {
			max-width: 50%;
			height: auto;
			margin-bottom: 20px;
			flex: 0 0 50%;
		}
	}
	&__link {
		height: 100%;
		padding: 0 25px;
		display: flex;
		align-items: center;
		color: inherit;
		transition: all .2s;
		@media (max-width: 979px) {
			padding: 5px 20px;
			font-weight: bold;
			font-size: 19px;
			font-family: "Times New Roman", Georgia, Arial, serif;
		}
		&:hover {
			color: $blue--100;
			text-decoration: none;
		}
	}
	&__item:hover &__link {
		color: $blue--100;
		text-decoration: none;
	}
	&__arrow {
		width: 12px;
		height: 6px;
		margin: 0 0 0 .4em;
		display: inline-block;
		fill: currentColor;
		transition: transform .18s;
		vertical-align: middle;
	}
	&__link &__arrow{
		@media (max-width: 979px) {
			display: none;
		}
	}
	&__link:hover &__arrow,
	&__item:hover &__arrow {
		transform: rotate(-180deg);
	}
	& .header-dropdown {
		background: #fff;
		min-width: 170px;
		position: absolute;
		top: 100%;
		left: 50%;
		border: 1px solid $gray--200;
		box-shadow: 0px 3px 4px rgba(12, 20, 39, 0.15);
		transform: translateX(-50%);
		transition: all .2s;
		transition-property: opacity, visibility;
		z-index: 101;
		@media (max-width: 979px) {
			background: transparent;
			border: none;
			box-shadow: none;
			transform: none;
			position: static;
		}
	}
	&__item:not(:hover) .header-dropdown {
		@media (min-width: 980px) {
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
		}
	}
	&__btn {
		@media (min-width: 980px) {
			display: none;
		}
		@media (max-width: 979px) {
			background: transparent;
			height: 100%;
			padding: 0 25px;
			display: inline-flex;
			align-items: center;
			color: $blue--100;
			border: none;
			outline: none;
			transition: all .18s;
			svg {
				width: 10px;
				height: 6px;
				margin-left: 6px;
				flex-shrink: 0;
			}
			&.is-active svg {
				transform: rotate(-180deg);
			}
		}
	}
}

.header-dropdown {
	margin: 0;
	padding: 0;
	list-style-type: none;
	&__item {
		margin: 0;
		padding: 0;
	}
	&__link {
		padding: 7px 13px;
		display: block;
		transition: all .18s;
		@media (max-width: 979px) {
			padding: 7px 20px;
			font-size: 14px;
		}
		&:hover {
			background: $gray--100;
			text-decoration: none;
		}
	}
}

.header {
	position: relative;
	&__main {
		background: #fff;
		position: relative;
		z-index: 100;
	}
	&__topline {
		padding: 25px 0;
		align-items: center;
		@media (max-width: 660px) {
			padding: 15px 0;
		}
	}
	&__topline-logo {
	}
	&__topline-info {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: right;
	}
	&__topline-subscribe {
		margin-left: 30px;
		flex-shrink: 0;
	}
	&__nav {
		border: solid $gray--200;
		border-width: 1px 0;
	}
	&__nav-container {
		height: 38px;
		display: flex;
	}
	&__toggle-nav {
		background: transparent;
		width: 18px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $dark--100;
		cursor: pointer;
		border: none;
		position: relative;
		transition: all .18s;
		outline: none;
		&:hover,
		&.is-active {
			color: $blue--100;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: -10px;
			bottom: 0;
			left: -10px;

		}
		&:after {
			background: $dark--100;
			width: 100%;
			height: 1px;
			margin-top: -1px;
			content: '';
			display: block;
			box-shadow: 0 -6px 0 $dark--100, 0 6px 0 $dark--100;
		}
		&:hover:after,
		&.is-active:after {
			background: $blue--100;
			box-shadow: 0 -6px 0 $blue--100, 0 6px 0 $blue--100;
		}
	}
	&__nav-list {
		flex-grow: 1;
		@media (max-width: 979px) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__search-toggle {
		background: transparent;
		font-size: 0;
		color: $dark--100;
		text-align: center;
		border: none;
		transition: all .18s;
		outline: none;
		cursor: pointer;
		position: relative;
		&:hover {
			color: $blue--100;
		}
		svg {
			width: 14px;
			height: 14px;
			display: inline-block;
			fill: currentColor;
			pointer-events: none;
			vertical-align: middle;
			position: relative;
			z-index: 1;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: -12px;
			bottom: 0;
			left: -12px;
			transition: all .18s;
		}
		&:after {
			width: 0;
			height: 100%;
			content: '';
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__menu {
		width: 100%;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 99;
		transition: all .18s;
		transition-property: transform, opacity, visibility;
		@media (max-width: 979px) {
			position: fixed;
			top: 0;
			bottom: 0;
			overflow-x: hidden;
			overflow-y: auto;
			z-index: 100;
		}
		&:not(.is-show) {
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			@media (max-width: 979px) {
				background: #fff;
				transform: translateY(-100%);
			}
		}
		&:before {
			background: rgba($dark--100,.7);
			content: '';
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
			z-index: -1;
		}
	}
	&__search {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		transition: all .2s;
		transition-property: opacity, visibility;
		z-index: 300;
		&:not(.is-show) {
			pointer-events: none;
			opacity: 0;
			visibility: hidden;
			@media (max-width: 979px) {
				transition-property: opacity, visibility, transform;
				transform: translateY(-100%);
			}
		}
	}
	&__search:not(.is-show) .search__result {
		transform: translateY(14px);
		opacity: 0;
		visibility: hidden;
	}
	&__search .search__result {
		transition: all 1s;
	}
}

.header-menu-subnav {
	margin: 0;
	padding: 0 0 0 10px;
	list-style-type: none;
	&__item {
		margin: 10px 0 0;
		padding: 0;
	}
	&__link {
		transition: all .18s;
		&:hover {
			color: $blue--100;
			text-decoration: none;
		}
	}
}

.header-menu-title-link {
	@media (max-width: 979px) {
		padding: 5px 0;
		display: inline-block;
		vertical-align: top;
	}
	@extend .link-hover;
	&:hover {
		color: $blue--100;
		text-decoration: none;
	}
}

.header-menu-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	@media (max-width: 660px) {
		column-count: 2;
		column-gap: 20px;
	}
	&__item {
		margin: 0 0 10px;
		padding: 0;
	}
	&__link {
		transition: all .18s;
		&:hover {
			color: $blue--100;
			text-decoration: none;
		}
	}
	&__subnav {
	}
}

.header-menu-subscribe {
	background: #8ECAEC;
	&__content {
		padding: 24px 30px 45px;
		@media (max-width: 660px) {
			padding: 24px 20px 45px;
		}
	}
	&__title {
		margin: 0 0 10px;
		font-weight: normal;
		font-size: 26px;
		font-family: $fonts-accent;
	}
	&__text {
		margin: 0 0 10px;
		font-size: 17px;
	}
	&__btn {
		width: 100%;
	}
	&__picture {
		font-size: 0;
	}
	&__img {
		width: 100%;
		height: auto;
		display: block;
	}
	@media (max-width: 660px) {
		margin: 0 -20px -25px;
	}
}

.header-menu {
	font-size: 14px;
	&__inner {
		background: rgba(255,255,255,.95);
		padding: 25px 0;
		position: relative;
		@media (max-width: 979px) {
			background: #fff;
		}
	}
	&__row {
		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 660px) {
			margin: 0 -8px;
		}
	}
	&__col {
		max-width: 25%;
		padding: 0 15px;
		flex: 0 0 25%;
		@media (max-width: 979px) {
			max-width: 50%;
			flex-basis: 50%;
		}
		@media (max-width: 660px) {
			max-width: 100%;
			flex-basis: 100%;
			padding: 0 8px;
		}
	}
	&__title {
		margin: 0 0 20px;
		font-weight: bold;
		font-size: 19px;
		font-family: $fonts-accent;
	}
	&__nav {
		margin: 0 0 20px;
		@media (max-width: 979px) {
			margin-bottom: 20px;
		}
	}
	&__social {
		margin: 0 0 20px;
	}
	&__close {
		@media (min-width: 980px) {
			display: none;
		}
		@media (max-width: 979px) {
			width: 100%;
			margin: -25px 0 25px;
		}
	}
}