			@@include('../blocks/modules/head/head.html', {
				"title": "Лента объявлений | Мирнинский рабочий" 
			})

			<div id="site">
				@@include('../blocks/modules/header/header.html')

				<!-- section BEGIN -->
				<section class="section section--theme_light">
					<div class="container section__container">
						<h2 class="page-title page-title--ta_center section__page-title">Лента объявлений</h2>
						<div class="row">
							<div class="row__col" data-size="1">
								<a href="#" class="btn section__btn-write">Написать пост</a>
								<ul class="aside-tag">
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">Вакансии</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">Общение</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">Нужна помощь</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">Отдам даром</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">Куплю-продам</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">Услуги</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">В редакцию</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link is-active">Мои посты</a>
									</li>
								</ul>
							</div>
							<div class="row__col" data-size="3">
								<div class="announcement-list">
									<div class="announcement announcement-list__item">
										<div class="announcement__header">
											<div class="announcement__header-info">
												<div class="announcement__author">
													<div class="user-avatar announcement__author-avatar">В</div>
													<div class="user-name announcement__author-name">Валентина М.</div>
												</div>
												<div class="announcement__type"><img src="images/svg/user-type-1.svg" alt="Мирный">Мирный</div>
												<div class="announcement__time">5ч</div>
											</div>
											<div class="announcement__tag">
												<a href="#" class="announcement-tag announcement-tag--work">Работа</a>
											</div>
										</div>
										<h3 class="announcement__title">Новая вакансия в «Алроса»</h3>
										<div class="announcement__text">В МУАД АК «АЛРОСА» (ПАО) для работы вахтовым методом требуются МАШИНИСТЫ КАТКА (4 человека, временно: на период сезонных работ). Требования: квалификационное удостоверение, опыт работы обязателен. Обращаться к начальнику БДМ Иванову Виталию Евгеньевичу по ...</div>
										<div class="announcement__write">
											<div class="user-avatar announcement__write-avatar">Н</div>
											<textarea name="write" cols="" rows="" class="announcement__write-area" placeholder="Напишите комментарий"></textarea>
										</div>
									</div>
									<div class="announcement announcement-list__item">
										<div class="announcement__header">
											<div class="announcement__header-info">
												<div class="announcement__author">
													<div class="user-avatar announcement__author-avatar">Н</div>
													<div class="user-name announcement__author-name">Наталья А.</div>
												</div>
												<div class="announcement__type"><img src="images/svg/user-type-1.svg" alt="Мирный">Мирный</div>
												<div class="announcement__time">5ч</div>
											</div>
											<div class="announcement__tag">
												<a href="#" class="announcement-tag announcement-tag--work">Работа</a>
											</div>
										</div>
										<h3 class="announcement__title">Нежный котенок Мия ищет новых хозяев</h3>
										<div class="announcement__text">Безумно нежная и ручная девочка, урчит от любого прикосновения. К лоточку уже приучена. Возраст - 2 месяца. Все анализы на инфекции чистые, лишая нет, проглистогонена и обработана от ...</div>
										<div class="announcement__media">
											<img src="images/announcemen-1.jpg" alt="Нежный котенок Мия ищет новых хозяев">
										</div>
										<div class="comment announcement__comment">
											<a class="comment__view-all">Показать еще 4 комментария</a>
											<div class="comment__list">
												<div class="comment-item comment-item--reply comment__list-item">
													<div class="user-avatar comment-item__avatar">Д</div>
													<div class="comment-item__info">
														<div class="user-name comment-item__name">Sergei Timofeyev</div>
														<div class="comment-item__date">28 окт в 14:47</div>
													</div>
													<div class="comment-item__text">И пристройству найдёнышей. </div>
													<a class="comment-item__reply">Ответить</a>
													<div class="comment-item comment__list-item">
														<div class="user-avatar comment-item__avatar">Н</div>
														<div class="comment-item__info">
															<div class="user-name comment-item__name">Danila Zakharov</div>
															<div class="comment-item__date">1 д</div>
														</div>
														<div class="comment-item__text">Хороший алгоритм) Можно открывать сервис по поиску домашних животных)</div>
														<a class="comment-item__reply">Ответить</a>
													</div>
													<div class="comment-item comment__list-item">
														<div class="user-avatar comment-item__avatar">А</div>
														<div class="comment-item__info">
															<div class="user-name comment-item__name">Алексей Офицеров</div>
															<div class="comment-item__date">28 окт в 14:47</div>
														</div>
														<div class="comment-item__text">Автор его и открыл, только помасштабнее, судя по концовке</div>
														<a class="comment-item__reply">Ответить</a>
													</div>
												</div>
											</div>
										</div>
										<div class="announcement__write">
											<div class="user-avatar announcement__write-avatar">Н</div>
											<textarea name="write" cols="" rows="" class="announcement__write-area" placeholder="Напишите комментарий"></textarea>
										</div>
									</div>
									<div class="announcement announcement-list__item">
										<div class="announcement__header">
											<div class="announcement__header-info">
												<div class="announcement__author">
													<div class="user-avatar announcement__author-avatar">Н</div>
													<div class="user-name announcement__author-name">Наталья А.</div>
												</div>
												<div class="announcement__type"><img src="images/svg/user-type-1.svg" alt="Мирный">Мирный</div>
												<div class="announcement__time">5ч</div>
											</div>
											<div class="announcement__tag">
												<a href="#" class="announcement-tag announcement-tag--work">Работа</a>
											</div>
										</div>
										<h3 class="announcement__title">Нежный котенок Мия ищет новых хозяев</h3>
										<div class="announcement__text">Безумно нежная и ручная девочка, урчит от любого прикосновения. К лоточку уже приучена. Возраст - 2 месяца. Все анализы на инфекции чистые, лишая нет, проглистогонена и обработана от ...</div>
										<div class="announcement__media">
											<img src="images/announcemen-1.jpg" alt="Нежный котенок Мия ищет новых хозяев">
										</div>
										<div class="comment announcement__comment">
											<a class="comment__view-all">Показать еще 4 комментария</a>
											<div class="comment__list">
												<div class="comment-item comment-item--reply comment__list-item">
													<div class="user-avatar comment-item__avatar">Д</div>
													<div class="comment-item__info">
														<div class="user-name comment-item__name">Sergei Timofeyev</div>
														<div class="comment-item__date">28 окт в 14:47</div>
													</div>
													<div class="comment-item__text">И пристройству найдёнышей. </div>
													<a class="comment-item__reply">Ответить</a>
													<div class="comment-item comment__list-item">
														<div class="user-avatar comment-item__avatar">Н</div>
														<div class="comment-item__info">
															<div class="user-name comment-item__name">Danila Zakharov</div>
															<div class="comment-item__date">1 д</div>
														</div>
														<div class="comment-item__text">Хороший алгоритм) Можно открывать сервис по поиску домашних животных)</div>
														<a class="comment-item__reply">Ответить</a>
													</div>
												</div>
												<div class="comment-item comment__list-item">
													<div class="user-avatar comment-item__avatar">Д</div>
													<div class="comment-item__info">
														<div class="user-name comment-item__name">Sergei Timofeyev</div>
														<div class="comment-item__date">28 окт в 14:47</div>
													</div>
													<div class="comment-item__text">И пристройству найдёнышей. </div>
													<a class="comment-item__reply">Ответить</a>
												</div>
											</div>
										</div>
										<div class="announcement__write">
											<div class="user-avatar announcement__write-avatar">Н</div>
											<textarea name="write" cols="" rows="" class="announcement__write-area" placeholder="Напишите комментарий"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="1">
								<a href="#" class="m-medop section__m-medop">
									<img src="images/medop-1.jpg" alt="medop 1">
								</a>
								<a href="#" class="m-medop section__m-medop">
									<img src="images/medop-2.jpg" alt="medop 2">
								</a>
							</div>
						</div>
					</div>
				</section>
				<!-- section END -->

				@@include('../blocks/modules/footer/footer.html')
			</div>

			<script src="js/main.js"></script>
			<script src="js/vendor.js"></script>
	</body>
</html>