			@@include('../blocks/modules/head/head.html', {
				"title": "Лента объявлений | Мирнинский рабочий" 
			})

			<div id="site">
				@@include('../blocks/modules/header/header.html')

				<!-- section BEGIN -->
				<section class="section section--theme_light">
					<div class="container section__container">
						<h2 class="page-title page-title--ta_center section__page-title">Лента объявлений</h2>
						<div class="row">
							<div class="row__col" data-size="1">
								<ul class="aside-tag">
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#политика</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#наш край</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#выборы 2020</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#праздник</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#наши достижения</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#происшествия</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#политика</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#наш край</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#выборы 2020</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#происшествия</a>
									</li>
								</ul>
							</div>
							<div class="row__col" data-size="3">
								<div class="announcement-list">
									<article class="announcement announcement-list__item">
										<header class="announcement__header">
											<div class="announcement__header-info">
												<div class="announcement-author announcement__author">
													<div class="announcement-author__avatar">В</div>
													<div class=" announcement-author__name">Валентина М.</div>
												</div>
												<div class="announcement__type">Мирный</div>
											</div>
											<div class="announcement__tag">
												<a href="#" class="announcement-tag announcement-tag--work">Работа</a>
											</div>
											<h3 class="announcement__title">Новая вакансия в «Алроса»</h3>
										</header>
										<div class="announcement__text">В МУАД АК «АЛРОСА» (ПАО) для работы вахтовым методом требуются МАШИНИСТЫ КАТКА (4 человека, временно: на период сезонных работ). Требования: квалификационное удостоверение, опыт работы обязателен. Обращаться к начальнику БДМ Иванову Виталию Евгеньевичу по ...</div>
									</article>
									<article class="announcement announcement-list__item">
										<header class="announcement__header">
											<div class="announcement__header-info">
												<div class="announcement-author announcement__author">
													<div class="announcement-author__avatar">В</div>
													<div class=" announcement-author__name">Валентина М.</div>
												</div>
												<div class="announcement__type">Мирный</div>
											</div>
											<div class="announcement__tag">
												<a href="#" class="announcement-tag announcement-tag--work">Работа</a>
											</div>
											<h3 class="announcement__title">Новая вакансия в «Алроса»</h3>
										</header>
										<div class="announcement__text">В МУАД АК «АЛРОСА» (ПАО) для работы вахтовым методом требуются МАШИНИСТЫ КАТКА (4 человека, временно: на период сезонных работ). Требования: квалификационное удостоверение, опыт работы обязателен. Обращаться к начальнику БДМ Иванову Виталию Евгеньевичу по ...</div>
									</article>
								</div>
							</div>
							<div class="row__col" data-size="1">
								<div class="m-medop section__m-medop">
									<img src="images/medop-1.jpg" alt="medop 1">
								</div>
								<div class="m-medop section__m-medop">
									<img src="images/medop-2.jpg" alt="medop 2">
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- section END -->

				@@include('../blocks/modules/footer/footer.html')
			</div>

			<script src="js/main.js"></script>
			<script src="js/vendor.js"></script>
	</body>
</html>