			@@include('../blocks/modules/head/head.html', {
				"title": "Мирнинский рабочий" 
			})

			<div id="site">
				@@include('../blocks/modules/header/header.html')

				<!-- preview-news BEGIN -->
				<div class="preview-news">
					<div class="container preview-news__container">
						<div class="row preview-news__row">
							<div class="row__col preview-news__col">
								<article class="preview-news-item">
									<picture class="preview-news-item__picture">
										<source srcset="images/pattern-1.webp" type="image/webp">
										<img src="images/pattern-1.jpg" class="el-cover preview-news-item__img" alt="Мирнинский рабочий меняется">
									</picture>
									<div class="preview-news-item__content">
										<div class="rubric preview-news-item__rubric">Новый сайт</div>
										<h2 class="preview-news-item__title">
											<a href="#" class="preview-news-item__link">Мирнинский рабочий меняется</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="row__col preview-news__col">
								<article class="preview-news-item">
									<picture class="preview-news-item__picture">
										<source srcset="images/pattern-1.webp" type="image/webp">
										<img src="images/pattern-1.jpg" class="el-cover preview-news-item__img" alt="Все самое актуальное про выборы">
									</picture>
									<div class="preview-news-item__content">
										<div class="rubric preview-news-item__rubric">Выборы 2020</div>
										<h2 class="preview-news-item__title">
											<a href="#" class="preview-news-item__link">Длинныыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыыый</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="row__col preview-news__col">
								<article class="preview-news-item">
									<picture class="preview-news-item__picture">
										<source srcset="images/pattern-1.webp" type="image/webp">
										<img src="images/pattern-1.jpg" class="el-cover preview-news-item__img" alt="Сейчас на сайте 142 вакансии">
									</picture>
									<div class="preview-news-item__content">
										<div class="rubric preview-news-item__rubric">Работа</div>
										<h2 class="preview-news-item__title">
											<a href="#" class="preview-news-item__link">Сейчас на сайте 142 вакансии</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="row__col preview-news__col">
								<article class="preview-news-item">
									<picture class="preview-news-item__picture">
										<source srcset="images/pattern-1.webp" type="image/webp">
										<img src="images/pattern-1.jpg" class="el-cover preview-news-item__img" alt="Чем живет рудник «Интернациональный»">
									</picture>
									<div class="preview-news-item__content">
										<div class="rubric preview-news-item__rubric">Лучшее</div>
										<h2 class="preview-news-item__title">
											<a href="#" class="preview-news-item__link">Чем живет рудник «Интернациональный»</a>
										</h2>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
				<!-- preview-news END -->

				<!-- section BEGIN -->
				<section class="section section--theme_light">
					<div class="container section__container">
						<div class="row">
							<div class="row__col" data-size-sm="3" data-size-md="3" data-size-lg="3">
								<div class="row">
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<a href="#" class="rubric article-info__item">Лучшее</a>
											</div>
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">65 лет трубкам «Мир» и «Удачная»</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосре...</p>
										</article>
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">65 лет трубкам «Мир» и «Удачная»</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосре...</p>
										</article>
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">65 лет трубкам «Мир» и «Удачная»</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосре...</p>
										</article>
									</div>
									<div class="row__col" data-size="66">
										<article class="article article--theme_main section__article">
											<header class="article__header">
												<picture class="article__picture">
													<source srcset="images/article-2.webp" type="image/webp">
													<img src="images/article-2.jpg" alt="Представлена программа по охране северных оленей" class="el-cover article__img">
												</picture>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Представлена программа по охране северных оленей</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum ...</p>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<div class="article-hr"></div>
									</div>
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<div class="live article-info__item">Live</div>
												<a href="#" class="rubric article-info__item">Политика</a>
											</div>
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">65 лет трубкам «Мир» и «Удачная»</a>
												</h2>
											</header>
											<div class="timeline">
												<div class="timeline__item">
													<div class="timeline__item-time">16:40</div>
													<p class="timeline__item-text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
												</div>
												<div class="timeline__item">
													<div class="timeline__item-time">18:20</div>
													<p class="timeline__item-text">Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при...</p>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="66">
										<article class="article article--theme_row article--theme_row_reverse section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Политика</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Есть новая трубка!</a>
												</h2>
												<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
											</header>
											<picture class="article__picture">
												<source srcset="images/article-3.webp" type="image/webp">
												<img src="images/article-3.jpg" alt="Есть новая трубка!" class="el-cover article__img">
											</picture>
										</article>
										<div class="article-hr"></div>
										<article class="article article--theme_row article--theme_row_reverse section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Политика</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">В районе образованию уделяется серьезное</a>
												</h2>
												<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст</p>
											</header>
											<picture class="article__picture">
												<source srcset="images/article-3.webp" type="image/webp">
												<img src="images/article-3.jpg" alt="В районе образованию уделяется серьезное" class="el-cover article__img">
											</picture>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size-sm="2" data-size-md="2" data-size-lg="2">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_row section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="live article-info__item">Live</div>
													<a href="#" class="rubric article-info__item">Политика</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
												</h2>
												<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
											</header>
											<picture class="article__picture">
												<source srcset="images/article-3.webp" type="image/webp">
												<img src="images/article-3.jpg" alt="Убийца Джона Леннона объяснил свое преступление" class="el-cover article__img">
											</picture>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">ЕС может назвать механизм санкций именем Навального</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<div class="article-hr"></div>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Американские врачи предрекают «апокалиптическую» осень</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
										</article>
										<article class="article article--theme_simple section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">В Тверской области разбился истребитель</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
										</article>
										<article class="article article--theme_simple section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает текст мешает текст мешает текст мешает текст мешает	</p>
										</article>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Дрессировку диких животных в цирке готовятся запретить в Чехии</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Гинцбург предостерег зараженных коронавирусом от вакцинации</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Актер проговорился о четвертом сезоне «Мандалорца»</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size-sm="5" data-size-md="4" data-size-lg="5">
								<div class="article-hr"></div>
							</div>
							<div class="row__col" data-size-sm="5" data-size-md="4" data-size-lg="3">
								<div class="row">
									<div class="row__col" data-size="100">
										<div class="article-info">
											<a href="#" class="rubric article-info__item">Лучшее</a>
										</div>
									</div>
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Актер проговорился о четвертом сезоне «Мандалорца»</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">В Тверской области разбился истребитель СУ-30</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">ЕС может назвать механизм санкций именем Навального</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Американские врачи предрекают «апокалиптическую»</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="33">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Гинцбург предостерег зараженных коронавирусом</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size-sm="5" data-size-md="4" data-size-lg="2">
								<div class="article-info">
									<a href="#" class="rubric article-info__item">Бизнес</a>
								</div>
								<article class="article article--theme_big section__article section__article">
									<header class="article__header">
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Курс евро превысил 94₽ впервые с 2014 года. Как сохранить свои деньги  →</a>
										</h2>
									</header>
								</article>
							</div>
						</div>
						<div class="subscribe section__subscribe">
							<div class="row">
								<div class="row__col" data-size="3">
									<div class="subscribe__content">
										<h2 class="subscribe__content-title">Оформите подписку, чтобы быть в курсе всех новостей</h2>
										<p class="subscribe__content-description">Подписка на бумажную и электронную версию всего 149 руб в месяц</p>
										<a href="#" class="btn subscribe__content-btn">Подписаться сейчас</a>
									</div>
								</div>
								<div class="row__col" data-size="2">
									<picture class="subscribe__picture">
										<source srcset="images/subscribe-newspaper.webp" type="image/webp">
										<img src="images/subscribe-newspaper.png" alt="Мирнинский рабочий подписка" class="subscribe__img">
									</picture>
								</div>
							</div>
						</div>
						<ul class="rubric-nav section__rubric-nav">
							<li class="rubric-nav__item">
								<a href="#" class="rubric-nav__link">Из жизни</a>
							</li>
							<li class="rubric-nav__item">
								<a href="#" class="rubric-nav__link">Важная дата</a>
							</li>
							<li class="rubric-nav__item">
								<a href="#" class="rubric-nav__link">Политика</a>
							</li>
							<li class="rubric-nav__item">
								<a href="#" class="rubric-nav__link">COVID-19</a>
							</li>
							<li class="rubric-nav__item">
								<a href="#" class="rubric-nav__link">Образование</a>
							</li>
							<li class="rubric-nav__item">
								<a href="#" class="rubric-nav__link">Письма</a>
							</li>
							<li class="rubric-nav__item">
								<a href="#" class="rubric-nav__link">Сад и огород</a>
							</li>
						</ul>
						<div class="row">
							<div class="row__col" data-size="5">
								<div class="section-title section__title">Наш край <span class="section-title__arrow">→</span></div>
							</div>
							<div class="row__col" data-size="2">
								<article class="article article--theme_typical section__article">
									<header class="article__header">
										<div class="article-info article__info">
											<a href="#" class="rubric article-info__item">Наш край</a>
										</div>
										<picture class="article__picture">
											<source srcset="images/article-4.webp" type="image/webp">
											<img src="images/article-4.jpg" alt="Чем живет рудник «Интернациональный»" class="el-cover article__img">
										</picture>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Чем живет рудник «Интернациональный»</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также</p>
								</article>
							</div>
							<div class="row__col" data-size="2">
								<article class="article article--theme_row section__article">
									<header class="article__header">
										<div class="article-info article__info">
											<div class="live article-info__item">Live</div>
											<a href="#" class="rubric article-info__item">Лучшее</a>
										</div>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">В районе образованию уделяется серьезное внимание</a>
										</h2>
										<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
									</header>
									<picture class="article__picture">
										<source srcset="images/article-5.webp" type="image/webp">
										<img src="images/article-5.jpg" alt="В районе образованию уделяется серьезное внимание" class="el-cover article__img">
									</picture>
								</article>
								<div class="article-hr"></div>
								<article class="article article--theme_row section__article">
									<header class="article__header">
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Есть новая трубка!</a>
										</h2>
										<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот ...</p>
									</header>
									<picture class="article__picture">
										<source srcset="images/article-6.webp" type="image/webp">
										<img src="images/article-6.jpg" alt="Есть новая трубка!" class="el-cover article__img">
									</picture>
								</article>
							</div>
							<div class="row__col" data-size="1">
								<form action="#" class="vote section__vote">
									<div class="article-info vote__info">
										<div class="rubric article-info__item">Опрос</div>
									</div>
									<div class="vote__title">Какими видами спорта Вы интересуетесь?</div>
									<div class="vote__list">
										<div class="vote__list-line">
											<label class="vote-radio">
												<input type="checkbox" name="vote" class="js-input-check vote-radio__input" value="Футбол">
												<span class="vote-radio__icon"></span> Футбол
											</label>
										</div>
										<div class="vote__list-line">
											<label class="vote-radio">
												<input type="checkbox" name="vote" class="js-input-check vote-radio__input" value="Хоккей">
												<span class="vote-radio__icon"></span> Хоккей
											</label>
										</div>
										<div class="vote__list-line">
											<label class="vote-radio">
												<input type="checkbox" name="vote" class="js-input-check vote-radio__input" value="Баскетбол">
												<span class="vote-radio__icon"></span> Баскетбол
											</label>
										</div>
										<div class="vote__list-line">
											<label class="vote-radio">
												<input type="checkbox" name="vote" class="js-input-check vote-radio__input" value="Волейбол">
												<span class="vote-radio__icon"></span> Волейбол
											</label>
										</div>
										<div class="vote__list-line">
											<label class="vote-radio">
												<input type="checkbox" name="vote" class="js-input-check vote-radio__input" value="Теннис">
												<span class="vote-radio__icon"></span> Теннис
											</label>
										</div>
										<div class="vote__list-line">
											<label class="vote-radio">
												<input type="checkbox" name="vote" class="js-input-check vote-radio__input" value="Бокс/Единоборство">
												<span class="vote-radio__icon"></span> Бокс/Единоборство
											</label>
										</div>
										<div class="vote__list-line">
											<label class="vote-radio">
												<input type="checkbox" name="vote" class="js-input-check vote-radio__input" value="Бейсбол">
												<span class="vote-radio__icon"></span> Бейсбол
											</label>
										</div>
									</div>
									<button type="submit" class="btn js-vote-btn vote__btn" disabled>Проголосовать</button>
								</form>
							</div>
						</div>
					</div>
				</section>
				<!-- section END -->

				<!-- section BEGIN -->
				<section class="section section--theme_dark">
				  <div class="container section__container">
						<div class="section__control">
							<div class="section-title section__control-title">Это интересно</div>
							<div class="js-slider-news-arrows-apend slider-arrow-group section__control-btns">
								<button class="slider-arrow slider-arrow--prev">
									<svg viewBox="0 0 12 6" class="slider-arrow__icon">
										<use xlink:href="images/sprites/sprite.svg#arrow"/>
									</svg>
								</button>
								<button class="slider-arrow slider-arrow--next">
									<svg viewBox="0 0 12 6" class="slider-arrow__icon">
										<use xlink:href="images/sprites/sprite.svg#arrow"/>
									</svg>
								</button>
							</div>
						</div>
						<div class="js-slider-news-init slider-news section__slider-news">
							<div class="slider-news__slide">
								<article class="slider-news-article">
									<div class="slider-news-article__header">
										<img src="images/news-1.jpg" class="el-cover slider-news-article__img" alt="Генсек ООН призывает к глобальному режиму прекращения огня">
									</div>
									<h2 class="slider-news-article__title">
										<a href="#" class="link-cover slider-news-article__link">Генсек ООН призывает к глобальному режиму прекращения огня</a>
									</h2>
								</article>
							</div>
							<div class="slider-news__slide">
								<article class="slider-news-article">
									<div class="slider-news-article__header">
										<img src="images/news-1.jpg" class="el-cover slider-news-article__img" alt="Генсек ООН призывает к глобальному режиму прекращения огня">
										<div class="slider-news-article__play"></div>
									</div>
									<h2 class="slider-news-article__title">
										<a href="#" class="link-cover slider-news-article__link">Ученица Тутберидзе выиграла этап Кубка России в соревнования</a>
									</h2>
								</article>
							</div>
							<div class="slider-news__slide">
								<article class="slider-news-article">
									<div class="slider-news-article__header">
										<img src="images/news-1.jpg" class="el-cover slider-news-article__img" alt="Генсек ООН призывает к глобальному режиму прекращения огня">
									</div>
									<h2 class="slider-news-article__title">
										<a href="#" class="link-cover slider-news-article__link">Актер проговорился о четвертом сезоне «Мандалорца»</a>
									</h2>
								</article>
							</div>
							<div class="slider-news__slide">
								<article class="slider-news-article">
									<div class="slider-news-article__header">
										<img src="images/news-1.jpg" class="el-cover slider-news-article__img" alt="Генсек ООН призывает к глобальному режиму прекращения огня">
										<div class="slider-news-article__play"></div>
									</div>
									<h2 class="slider-news-article__title">
										<a href="#" class="link-cover slider-news-article__link">Дрессировку диких животных в цирке готовятся запретить в</a>
									</h2>
								</article>
							</div>
							<div class="slider-news__slide">
								<article class="slider-news-article">
									<div class="slider-news-article__header">
										<img src="images/news-1.jpg" class="el-cover slider-news-article__img" alt="Генсек ООН призывает к глобальному режиму прекращения огня">
										<div class="slider-news-article__play"></div>
									</div>
									<h2 class="slider-news-article__title">
										<a href="#" class="link-cover slider-news-article__link">Бывший украинский депутат обвинил Турчинова в потере Кр</a>
									</h2>
								</article>
							</div>
							<div class="slider-news__slide">
								<article class="slider-news-article">
									<div class="slider-news-article__header">
										<img src="images/news-1.jpg" class="el-cover slider-news-article__img" alt="Генсек ООН призывает к глобальному режиму прекращения огня">
									</div>
									<h2 class="slider-news-article__title">
										<a href="#" class="link-cover slider-news-article__link">Бывший украинский депутат обвинил Турчинова в потере Кр</a>
									</h2>
								</article>
							</div>
						</div>
				  </div>
				</section>
				<!-- section END -->

				<!-- section BEGIN -->
				<section class="section section--theme_light">
					<div class="container section__container">
						<div class="row">
							<div class="row__col" data-size="5">
								<div class="section-title section__title">День шахтера <span class="section-title__arrow">→</span></div>
							</div>
							<div class="row__col" data-size="1">
								<article class="article article--theme_simple section__article">
									<div class="article-info article__info">
										<a href="#" class="rubric article-info__item">Политика</a>
									</div>
									<header class="article__header">
										<picture class="article__picture">
											<source srcset="images/article-4.webp" type="image/webp">
											<img src="images/article-4.jpg" alt="Кадры с места гибели актера Дмитрия Жулина" class="el-cover article__img">
										</picture>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Кадры с места гибели актера Дмитрия Жулина</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
									<div class="author article__author">
										<div class="author__picture">
											<img src="images/avatar.jpg" alt="" class="author__avatar">
										</div>
										<div class="author__name">
											<a href="#" class="author__link">Петров И.</a>
										</div>
									</div>
								</article>
							</div>
							<div class="row__col" data-size="1">
								<article class="article article--theme_simple section__article">
									<div class="article-info article__info">
										<a href="#" class="rubric article-info__item">Лучшее</a>
									</div>
									<header class="article__header">
										<picture class="article__picture">
											<source srcset="images/article-4.webp" type="image/webp">
											<img src="images/article-4.jpg" alt="Автомобиль сбил пешеходов в центре" class="el-cover article__img">
										</picture>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Автомобиль сбил пешеходов в центре</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
									<div class="author article__author">
										<div class="author__picture">
											<img src="images/avatar.jpg" alt="" class="author__avatar">
										</div>
										<div class="author__name">
											<a href="#" class="author__link">Петров И.</a>
										</div>
									</div>
								</article>
							</div>
							<div class="row__col" data-size="1">
								<div class="subscribe-instagram section__subscribe-instagram">
									<svg viewBox="0 0 26 26" class="subscribe-instagram__icon">
										<use xlink:href="images/sprites/sprite.svg#instagram"/>
									</svg>
									<div class="subscribe-instagram__title">Будь в курсе</div>
									<p class="subscribe-instagram__text">Отмечай нас на фото с тегом #mirninskiy_news и следи за последними обновлениями в Instagram</p>
									<a href="#" class="link-cover btn btn--theme_white subscribe-instagram__btn">Подписаться</a>
								</div>
							</div>
							<div class="row__col" data-size="2">
								<article class="article article--theme_typical section__article">
									<header class="article__header">
										<div class="article-info article__info">
											<a href="#" class="rubric article-info__item">Наш край</a>
										</div>
										<picture class="article__picture">
											<source srcset="images/article-4.webp" type="image/webp">
											<img src="images/article-4.jpg" alt="«Грязные методы»: СВР разъяснила ситуацию вокруг Навального" class="el-cover article__img">
										</picture>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">«Грязные методы»: СВР разъяснила ситуацию вокруг Навального</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более...</p>
								</article>
							</div>
						</div>
					</div>
				</section>
				<!-- section END -->

				@@include('../blocks/modules/footer/footer.html')
			</div>

			<script src="js/main.js"></script>
			<script src="js/vendor.js"></script>
	</body>
</html>