			@@include('../blocks/modules/head/head.html', {
				"title": "Список новостей 3 | Мирнинский рабочий" 
			})

			<div id="site">
				@@include('../blocks/modules/header/header.html')

				<!-- section BEGIN -->
				<section class="section section--theme_light">
					<div class="container section__container">
						<h2 class="page-title page-title--ta_center section__page-title">Бизнес и экономика</h2>
						<div class="row">
							<div class="row__col" data-size-sm="3" data-size-md="3" data-size="1">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<a href="#" class="rubric article-info__item">Лучшее</a>
											</div>
											<header class="article__header">
												<picture class="article__picture">
													<source srcset="images/article-3.webp" type="image/webp">
													<img src="images/article-3.jpg" alt="65 лет трубкам «Мир» и «Удачная»" class="el-cover article__img">
												</picture>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">65 лет трубкам «Мир» и «Удачная»</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосре...</p>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">ЕС может назвать механизм санкций именем Навального</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<a href="#" class="rubric article-info__item">Лучшее</a>
											</div>
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Дефицит запчастей, проблемы с ТО: содержание машины сильно подорожало </a>
												</h2>
											</header>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<a href="#" class="rubric article-info__item">Лучшее</a>
											</div>
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Евросоюз утвердил санкции против Белоруссии Как это скажется на политике Минска</a>
												</h2>
											</header>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size-sm="2" data-size-md="2" data-size="3">
								<div class="row">
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Лучшее</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Дрессировку диких животных в цирке готовятся запретить в Чехии</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article section__article section__article--pb_medium">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Лучшее</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Дрессировку диких животных в цирке готовятся запретить в Чехии</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_main section__article">
											<header class="article__header">
												<picture class="article__picture">
													<source srcset="images/article-2.webp" type="image/webp">
													<img src="images/article-2.jpg" alt="Представлена программа по охране северных оленей" class="el-cover article__img">
												</picture>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Представлена программа по охране северных оленей</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum...</p>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size-sm="5" data-size-md="4" data-size="1">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Армения сообщила о поимке иностранных шпионов</a>
												</h2>
											</header>
											<time class="article__time">20:45</time>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Врач сообщил о лечении Трампа стероидным препаратом</a>
												</h2>
											</header>
											<time class="article__time">20:45</time>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Биохакинг в 2020 году как бизнес и образ жизни</a>
												</h2>
											</header>
											<time class="article__time">20:45</time>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<picture class="article__picture">
													<source srcset="images/article-3.webp" type="image/webp">
													<img src="images/article-3.jpg" alt="65 лет трубкам «Мир» и «Удачная»" class="el-cover article__img">
												</picture>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">В Тверской области разбился истребитель</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосре...</p>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Дрессировку диких животных в цирке готовятся запретить в Чехии</a>
												</h2>
											</header>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="5">
								<div class="article-hr"></div>
							</div>
							<div class="row__col" data-size="2">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_row section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="live article-info__item">Live</div>
													<a href="#" class="rubric article-info__item">Политика</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
												</h2>
												<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
											</header>
											<picture class="article__picture">
												<source srcset="images/article-3.webp" type="image/webp">
												<img src="images/article-3.jpg" alt="Убийца Джона Леннона объяснил свое преступление" class="el-cover article__img">
											</picture>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_row section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="live article-info__item">Live</div>
													<a href="#" class="rubric article-info__item">Политика</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
												</h2>
												<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает</p>
											</header>
											<picture class="article__picture">
												<source srcset="images/article-3.webp" type="image/webp">
												<img src="images/article-3.jpg" alt="Убийца Джона Леннона объяснил свое преступление" class="el-cover article__img">
											</picture>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="2">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_big section__article section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Лучшее</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Беспилотный проект: как выручить 700₽ млн, пугая белых медведей дронами</a>
												</h2>
											</header>
										</article>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<a href="#" class="rubric article-info__item">Лучшее</a>
											</div>
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Дефицит запчастей, проблемы с ТО: содержание машины сильно подорожало </a>
												</h2>
											</header>
										</article>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<a href="#" class="rubric article-info__item">Лучшее</a>
											</div>
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Евросоюз утвердил санкции против Белоруссии Как это скажется на политике </a>
												</h2>
											</header>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="1">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<div class="article-info article__info">
												<div class="live article-info__item">Live</div>
												<a href="#" class="rubric article-info__item">Лучшее</a>
											</div>
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">65 лет трубкам «Мир» и «Удачная»</a>
												</h2>
											</header>
											<div class="timeline">
												<div class="timeline__item">
													<div class="timeline__item-time">16:40</div>
													<p class="timeline__item-text">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
												</div>
												<div class="timeline__item">
													<div class="timeline__item-time">18:20</div>
													<p class="timeline__item-text">Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при...</p>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="5">
								<div class="article-hr"></div>
							</div>
							<div class="row__col" data-size="2">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_typical section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Наш край</a>
												</div>
												<picture class="article__picture">
													<source srcset="images/article-4.webp" type="image/webp">
													<img src="images/article-4.jpg" alt="Чем живет рудник «Интернациональный»" class="el-cover article__img">
												</picture>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Чем живет рудник «Интернациональный»</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также</p>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="2">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_row section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="live article-info__item">Live</div>
													<a href="#" class="rubric article-info__item">Лучшее</a>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">В районе образованию уделяется серьезное внимание</a>
												</h2>
												<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
											</header>
											<picture class="article__picture">
												<source srcset="images/article-5.webp" type="image/webp">
												<img src="images/article-5.jpg" alt="В районе образованию уделяется серьезное внимание" class="el-cover article__img">
											</picture>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<div class="article-hr"></div>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_row section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Есть новая трубка!</a>
												</h2>
												<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот ...</p>
											</header>
											<picture class="article__picture">
												<source srcset="images/article-6.webp" type="image/webp">
												<img src="images/article-6.jpg" alt="Есть новая трубка!" class="el-cover article__img">
											</picture>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="1">
								<div class="row">
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">ЕС может назвать механизм санкций именем Навального</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="100">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">ЕС может назвать механизм санкций именем Навального</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
											<div class="author article__author">
												<div class="author__picture">
													<img src="images/avatar.jpg" alt="" class="author__avatar">
												</div>
												<div class="author__name">
													<a href="#" class="author__link">Петров И.</a>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col" data-size="5">
								<a href="#" class="btn btn--theme_gray section__btn-footer">Загрузить ещё</a>
							</div>
						</div>
					</div>
				</section>
				<!-- section END -->

				@@include('../blocks/modules/footer/footer.html')
			</div>

			<script src="js/main.js"></script>
			<script src="js/vendor.js"></script>
	</body>
</html>