			@@include('../blocks/modules/head/head.html', {
				"title": "Список новостей 2 | Мирнинский рабочий" 
			})

			<div id="site">
				@@include('../blocks/modules/header/header.html')

				<!-- section BEGIN -->
				<section class="section section--theme_light">
					<div class="container section__container">
						<h2 class="page-title page-title--ta_left section__page-title">Новости</h2>
						<div class="row">
							<div class="row__col" data-size-md="2" data-size="1">
								<article class="article article--theme_simple section__article">
									<header class="article__header">
										<div class="article-info article__info">
											<a href="#" class="rubric article-info__item">Политика</a>
										</div>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
								</article>
							</div>
							<div class="row__col" data-size-md="2" data-size="1">
								<article class="article article--theme_simple section__article">
									<header class="article__header">
										<div class="article-info article__info">
											<a href="#" class="rubric article-info__item">Политика</a>
										</div>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
								</article>
							</div>
							<div class="row__col" data-size-md="2" data-size="1">
								<article class="article article--theme_simple section__article">
									<header class="article__header">
										<div class="article-info article__info">
											<a href="#" class="rubric article-info__item">Политика</a>
										</div>
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">Убийца Джона Леннона объяснил свое преступление</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
								</article>
							</div>
							<div class="row__col" data-size="2">
								<article class="article article--theme_simple section__article section__article section__article--pb_medium">
									<header class="article__header">
										<h2 class="article__title">
											<a href="#" class="link-cover article__link">ЕС может назвать механизм санкций именем Навального</a>
										</h2>
									</header>
									<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. </p>
									<div class="author article__author">
										<div class="author__picture">
											<img src="images/avatar.jpg" alt="" class="author__avatar">
										</div>
										<div class="author__name">
											<a href="#" class="author__link">Петров И.</a>
										</div>
									</div>
								</article>
							</div>
							<div class="row__col" data-size="5">
								<div class="article-hr"></div>
							</div>
							<div class="row__col" data-size-sm="4" data-size-md="3" data-size="4">
								<div class="row">
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Политика</a>
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Власти задумались о настройках НДС и льготах для холдингов Какие идеи для иностранного бизнеса рассмотрит Минфин</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации </p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Dominic penna</a>
												<a href="#" class="tag tag-list__item">Annabel Fenwick elliot</a>
												<a href="#" class="tag tag-list__item">Трубка</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Политика</a>
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Обстрелы и бомбоубежища: что произошло за неделю в Карабахе. Фоторепортаж </a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Dominic penna</a>
												<a href="#" class="tag tag-list__item">Annabel Fenwick elliot</a>
												<a href="#" class="tag tag-list__item">Трубка</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Политика</a>
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Обстрелы и бомбоубежища: что произошло за неделю в Карабахе. Фоторепортаж </a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Dominic penna</a>
												<a href="#" class="tag tag-list__item">Annabel Fenwick elliot</a>
												<a href="#" class="tag tag-list__item">Трубка</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size="50">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<a href="#" class="rubric article-info__item">Политика</a>
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">Обстрелы и бомбоубежища: что произошло за неделю в Карабахе. Фоторепортаж </a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Dominic penna</a>
												<a href="#" class="tag tag-list__item">Annabel Fenwick elliot</a>
												<a href="#" class="tag tag-list__item">Трубка</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
									<div class="row__col" data-size-md="2" data-size="25">
										<article class="article article--theme_simple section__article">
											<header class="article__header">
												<div class="article-info article__info">
													<div class="article-info__item">Сентябрь 29, 2020</div>
												</div>
												<h2 class="article__title">
													<a href="#" class="link-cover article__link">СКР возбудил дело против банкира Ананьева о даче взяток чиновникам ПФР</a>
												</h2>
											</header>
											<p class="article__description">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum...</p>
											<div class="tag-list article__tags">
												<a href="#" class="tag tag-list__item">Наш край</a>
											</div>
										</article>
									</div>
								</div>
							</div>
							<div class="row__col order-sm--1" data-size-sm="4" data-size-md="1" data-size="1">
								<ul class="aside-tag announcement-aside__tag">
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#политика</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#наш край</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#выборы 2020</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#праздник</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#наши достижения</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#происшествия</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link is-active">#политика</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#наш край</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#выборы 2020</a>
									</li>
									<li class="aside-tag__item">
										<a href="#" class="aside-tag__link">#происшествия</a>
									</li>
								</ul>
							</div>
							<div class="row__col" data-size="5">
								<a href="#" class="btn btn--theme_gray section__btn-footer">Показать больше новостей</a>
							</div>
						</div>
					</div>
				</section>
				<!-- section END -->

				@@include('../blocks/modules/footer/footer.html')
			</div>

			<script src="js/main.js"></script>
			<script src="js/vendor.js"></script>
	</body>
</html>