			@@include('../blocks/modules/head/head.html', {
				"title": "Шаблон для разделов | Мирнинский рабочий" 
			})

			<div id="site">
				@@include('../blocks/modules/header/header.html')

				<!-- section BEGIN -->
				<section class="section section--theme_light">
					<div class="container section__container">
						<h2 class="page-title page-title--ta_center section__page-title">«Афиша», «Вакансии», «Вопросы», «Полезное»</h2>

						<!-- search BEGIN -->
						<div class="search">
							<div class="search__inner">
								<div class="search__result">
									<div class="search-item search__result-item">
										<picture class="search-item__picture">
											<source srcset="images/search-1.webp" type="image/webp">
											<img src="images/search-1.jpg" alt="Байден: Трамп — расист" class="el-cover search-item__img">
										</picture>
										<div class="search-item__content">
											<div class="article-info search-item__info">
												<a href="#" class="rubric article-info__item">Бизнес</a>
												<div class="article-info__item">Сентябрь 29, 2020</div>
											</div>
											<h2 class="search-item__title">
												<a href="#" class="link-cover search-item__link">Байден: Трамп — расист</a>
											</h2>
											<p class="search-item__text">Президент Дональд Трамп и кандидат от Демократической партии Джо Байден обсуждают обучение расовой чувствительности и расизм в Америке. Они выступают на первых президентских дебатах в Кливленде.</p>
										</div>
									</div>
									<div class="search-item search__result-item">
										<picture class="search-item__picture">
											<source srcset="images/search-2.webp" type="image/webp">
											<img src="images/search-2.jpg" alt="Ночь без оглядки Трампа с Байденом рискует" class="el-cover search-item__img">
										</picture>
										<div class="search-item__content">
											<div class="article-info search-item__info">
												<a href="#" class="rubric article-info__item">Бизнес</a>
												<div class="article-info__item">Сентябрь 29, 2020</div>
											</div>
											<h2 class="search-item__title">
												<a href="#" class="link-cover search-item__link">Ночь без оглядки Трампа с Байденом рискует</a>
											</h2>
											<p class="search-item__text">Президент Дональд Трамп решил во вторник вывести свой хаотичный и конфронтационный стиль прямо на сцену дебатов в своем первом противостоянии с демократом Джо Байденом</p>
										</div>
									</div>
									<div class="search-item search__result-item">
										<div class="search-item__content">
											<div class="article-info search-item__info">
												<a href="#" class="rubric article-info__item">Бизнес</a>
												<div class="article-info__item">Сентябрь 29, 2020</div>
											</div>
											<h2 class="search-item__title">
												<a href="#" class="link-cover search-item__link">Трамп в яростных дебатах с Байденом разошелся с фактами</a>
											</h2>
											<p class="search-item__text">Президент Дональд Трамп и кандидат от Демократической партии Джо Байден начали свои первые дебаты на резкой ноте и быстро переросли в личные, когда каждый кандидат перебивал и обсуждал друг друга. Попутно Трамп сделал множество утверждений, которые не выдержали проверки фактов.</p>
										</div>
									</div>
									<div class="search-item search__result-item">
										<picture class="search-item__picture">
											<source srcset="images/search-2.webp" type="image/webp">
											<img src="images/search-2.jpg" alt="Ночь без оглядки Трампа с Байденом рискует" class="el-cover search-item__img">
										</picture>
										<div class="search-item__content">
											<div class="article-info search-item__info">
												<a href="#" class="rubric article-info__item">Бизнес</a>
												<div class="article-info__item">Сентябрь 29, 2020</div>
											</div>
											<h2 class="search-item__title">
												<a href="#" class="link-cover search-item__link">Ночь без оглядки Трампа с Байденом рискует</a>
											</h2>
											<p class="search-item__text">Президент Дональд Трамп решил во вторник вывести свой хаотичный и конфронтационный стиль прямо на сцену дебатов в своем первом противостоянии с демократом Джо Байденом</p>
										</div>
									</div>
									<div class="search-item search__result-item">
										<div class="search-item__content">
											<div class="article-info search-item__info">
												<a href="#" class="rubric article-info__item">Бизнес</a>
												<div class="article-info__item">Сентябрь 29, 2020</div>
											</div>
											<h2 class="search-item__title">
												<a href="#" class="link-cover search-item__link">Трамп в яростных дебатах с Байденом разошелся с фактами</a>
											</h2>
											<p class="search-item__text">Президент Дональд Трамп и кандидат от Демократической партии Джо Байден начали свои первые дебаты на резкой ноте и быстро переросли в личные, когда каждый кандидат перебивал и обсуждал друг друга. Попутно Трамп сделал множество утверждений, которые не выдержали проверки фактов.</p>
										</div>
									</div>
									<div class="search-item search__result-item">
										<picture class="search-item__picture">
											<source srcset="images/search-2.webp" type="image/webp">
											<img src="images/search-2.jpg" alt="Ночь без оглядки Трампа с Байденом рискует" class="el-cover search-item__img">
										</picture>
										<div class="search-item__content">
											<div class="article-info search-item__info">
												<a href="#" class="rubric article-info__item">Бизнес</a>
												<div class="article-info__item">Сентябрь 29, 2020</div>
											</div>
											<h2 class="search-item__title">
												<a href="#" class="link-cover search-item__link">Ночь без оглядки Трампа с Байденом рискует</a>
											</h2>
											<p class="search-item__text">Президент Дональд Трамп решил во вторник вывести свой хаотичный и конфронтационный стиль прямо на сцену дебатов в своем первом противостоянии с демократом Джо Байденом</p>
										</div>
									</div>
									<div class="search-item search__result-item">
										<div class="search-item__content">
											<div class="article-info search-item__info">
												<a href="#" class="rubric article-info__item">Бизнес</a>
												<div class="article-info__item">Сентябрь 29, 2020</div>
											</div>
											<h2 class="search-item__title">
												<a href="#" class="link-cover search-item__link">Трамп в яростных дебатах с Байденом разошелся с фактами</a>
											</h2>
											<p class="search-item__text">Президент Дональд Трамп и кандидат от Демократической партии Джо Байден начали свои первые дебаты на резкой ноте и быстро переросли в личные, когда каждый кандидат перебивал и обсуждал друг друга. Попутно Трамп сделал множество утверждений, которые не выдержали проверки фактов.</p>
										</div>
									</div>
								</div>
								<a href="#" class="btn btn--theme_gray search__inner-btn">Показать больше новостей</a>
							</div>
						</div>
						<!-- search END -->
					</div>
				</section>
				<!-- section END -->

				@@include('../blocks/modules/footer/footer.html')
			</div>

			<script src="js/main.js"></script>
			<script src="js/vendor.js"></script>
	</body>
</html>