$fonts-main: 'TT Commons', Arial, sans-serif;
$fonts-accent: 'Times New Roman', Georgia, Arial, serif;
$dark--100: #0C1427;
$blue--100: #52A7F5;
$gray--100: #F6F6F6;
$gray--200: #E8E8E8;
$gray--300: #677480;